
h1 {
  margin-bottom: 1rem;
}

button:hover {
  opacity: 1;
}

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 258px;
    height: 500px;
    max-width: 70%;
    max-height: 60%;
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    z-index: 10;
    background-image: url(../Images/pokedex.webp);
    background-repeat: round;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

#fade,
#modal {
  pointer-events: all;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.modal-body ol {
  list-style: none;
  text-align: center;
  justify-content: center;
  text-transform: capitalize;
}

#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

#modal.hide {
  top: 0;
}

.abilitiesList{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
li{
  width: 100%;
  top: 30%;
  font-size: 10pt;
}
.abilitiesList .floating{
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-bottom: 1rem;
}
@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 10px); }
  100%   { transform: translate(0, -0px); }   
}

@media screen and (min-width: 380px) {
  .modal-body ol {
    margin-top: 6rem;
  }
}

@media screen and (min-width: 576px) {
  .modal-body ol {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 992px) {
  .modal-body ol {
    margin-top: 4rem;
  }
}